name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: pdo_sqlite

      - name: Get Composer cache
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Prepare environment
        run: |
          cp .env.example .env || true

          # Force supported cipher first (IMPORTANT)
          sed -i '/^APP_CIPHER=/d' .env
          echo "APP_CIPHER=aes-256-cbc" >> .env

          # Force a valid 32-byte key for aes-256-cbc
          sed -i '/^APP_KEY=/d' .env
          echo "APP_KEY=base64:$(php -r 'echo base64_encode(random_bytes(32));')" >> .env

          # sqlite memory
          echo "DB_CONNECTION=sqlite" >> .env
          echo "DB_DATABASE=:memory:" >> .env

          # Make sure tests use same env
          cp .env .env.testing

          php artisan config:clear
          php artisan cache:clear



      - name: Run migrations
        run: php artisan migrate --force

      - name: Run tests
        run: php artisan test --no-coverage
